@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap');
/* Josh Comeau's CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
 
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
 
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  /* Import custom font */
 
  /* My CSS Code */

  *{
    font-size: 20px;
    font-family: "Manrope", 'Courier New', 'Arial';
    font-weight: 600;
  }

  h1{
    font-size: 50px;
  }

  .title{
    display: flex;
    justify-content: center;
  }

  #wicked_logo{
    width: 15%;
    height: auto;
    position: absolute;
    top: 350px;
  }

  #black_box{
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 35%;
    position: absolute;
    top: 300px;
}

  .screen_left{
    background-image: url(./images/leaves.jpg);
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .main{
    display: flex;
    flex-direction: row;
  }

  .screen_right{
    width: 65%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
  }

#eventInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#templateInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventItem{
    margin: 10px;
}

#specialInstructions{
    width: 700px;
    height: 100px;
    resize: none;
}

fieldset{
    width: 800px;
}

#fieldsetEvent{
    display: flex;
}

#submitButton{
    position: relative;
    left: 50%;
    margin-top: 20px;
    padding: 10px 15px;
    width: 8%;
    transform: translate(-50px, 0px);
    background-color: rgba(195, 255, 192);
    border: black solid 3px;
}

label, .label{
    display: block;
    font-weight: 400;
}

.redasterisk{
    color: rgb(255, 21, 21);
}

legend{
    font-size: 1.5em;
}

input:focus{
  padding: 0px; 
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}