/* Josh Comeau's CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
 
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
 
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  /* My CSS Code */

  #wicked_logo{
    width: 15%;
    height: auto;
    position: absolute;
    top: 300px;

  }

  #black_box{
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 35%;
    position: absolute;
    top: 300px;
}

  .screen_left{
    background-image: url(./images/leaves.jpg);
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .main{
    display: flex;
    flex-direction: row;
  }

  .screen_right{
    display: flex;
    justify-content: center;
  }